.btn {
    background-color: var(--btn-primary500);
    /* border: none; */
    color: var(--clr-primary-wite);
    padding: 16px 24px;
    justify-content: center;
    font-size: 1.125em;
    /* position: relative; */
    width: 171px;
    height: 56px;
    left: 20px;
    top: 20px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    border-radius: var(--main-radius);
    cursor: pointer;
    margin-top: 1rem;
}


/*   button types */
.primary {
    background-color: var(--btn-primary500);
    color: var(--clr-primary-wite);
    border: none;
}

.primary:hover {
    background-color: var(--btn-primary700);
}

.primary:focus {

    box-shadow: 0px 0px 0px 3px rgba(174, 182, 251, 1);
}

.primary:active {
    background-color: var(--btn-primary800);
}
.primary:disabled {
    background-color: var(--btn-gray200);
    color: var(--btn-gray500);
    cursor: not-allowed;
}

.outline {
    background-color: transparent;
    color: var(--btn-primary500);
    border: 1.5px solid var(--btn-primary500);
}

.outline:hover {
    background-color: var(--btn-primary50);
}
.outline:focus {
    box-shadow: 0px 0px 0px 3px rgba(174, 182, 251, 1);
}

.outline:active {
    background-color: var(--btn-primary100);
}

.outline:disabled {
    color: var(--btn-gray200);
    cursor: not-allowed;
    border: 1.5px solid var(--btn-gey200);
}

.tonal{
    background-color: transparent;
    color: var(--btn-primary500);
    border: none;
}

.tonal:hover {
    background-color: var(--btn-primary50);
}

.tonal:focus {
    box-shadow: 0px 0px 0px 3px rgba(174, 182, 251, 1);
}

.tonal:active {
    background-color: var(--btn-primary100);
}

.tonal:disabled {
    color: var(--btn-gray200);
    cursor: not-allowed;
    border: none;
}


/*   size props */
.lg {
	width: 100%;
    /* width: 171px; */
    height: 56px;
    font-size: 1.125em;
    padding: 16px 24px;
}

.md {
    /* width: 156px; */
    height: 48px;
    font-size: 1em;
    padding: 12px 20px;
}

.sm {
    /* width: 142px; */
    height: 40px;
    font-size: 0.875em;
    padding: 8px 16px;
}

.xs {
    /* width: 127px; */
    height: 32px;
    font-size: 0.75em;
    padding: 4px 12px;
}

.tn {
    /* width: 97px; */
    height: 24px;
    font-size: 0.625em;
    padding: 2px 8px;
}