@import '../tools/_variables.css';

.card {
	overflow: hidden;
	box-shadow: 0px 6px 14px -6px rgba(19, 25, 39, 0.12), 0px 10px 32px -4px rgba(19, 25, 39, 0.1);
	border-radius: var(--main-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;
}
.card__body{
	display: flex;
	height: 32rem;
	flex-direction: column;
	justify-content: space-between;
}

.card__image {
	flex: none;
	order: 0;
	flex-grow: 1;
	height: 13rem;
	width: 100%;
	align-self: stretch;
	object-fit: cover;
}
.card__title {
	padding: 1rem;
}
.card__price {
	padding: 1rem;
	font-size: large;
	color: var(--clr-gray500);
}
.card__description {
	padding: 0 1rem;
}
.card__btn {
	padding: 1rem;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
	transform: scale(1.02);
}

