@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {

/*   colors main */
--clr-primary: #d50000;
--clr-gray100: #f9fbff;
--clr-gray150: #f4f6fb;
--clr-gray200: #eef1f6;
--clr-gray300: #e1e5ee;
--clr-gray400: #767b91;
--clr-gray500: #4f546c;
--clr-gray600: #2a324b;
--clr-gray700: #161d34;
<<<<<<< HEAD
--gray900: #e5e7eb;
}


=======
--clr-gray900: #e5e7eb;
--clr-primary-wite: #ffffff;

/*   colors buttons */
--btn-primary500: #4E61F6;
--btn-primary700: #3745AF;
--btn-primary800: #2B3587;
--btn-primary100: #C8CEFC;
--btn-primary50: #EDEFFE;
--btn-gray200: #E5E7EA;



/*   border radius */

--main-radius: 0.5rem;

}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 22rem));
	gap: 2rem;
	justify-content: center;
 }
>>>>>>> ae69b5c5e9c80357146da26ffcc09a6dabc26bc8
