@import './components/tools/variables';
@import './components/productCard/Product.scss';


*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}